- content_for :title, @plant.name
- content_for :header_content do
  = link_to garden_plants_path(@plant.garden.id), class: 'icon ui-btn-left', data: { direction: 'reverse' } do
    i.icon-arrow-left
  h1 = content_for(:title)

- if not @plant.logs.empty?
  javascript:
    $(document).bind("pageshow", function() {
        Highcharts.setOptions({
            // This is for all plots, change Date axis to local timezone
            global : {
                useUTC : false
            }
        });
        if ($('#chart').length) {
            var chart;
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'chart',
                    backgroundColor: '#f5faf0'
                },
                title: {
                    text: 'Sunlight Over Time'
                },
                credits: {
                    enabled: false
                },
                colors: [/*'#4aa2bb',*/ '#d3b600', '#7ebe32'],
                plotOptions: {
                  line: {
                    marker: {
                     enabled: false
                    }
                  }
                },
                xAxis: {
                    type: 'datetime',
                    ordinal: false,
                    dateTimeLabelFormats: {
                        second: '%H:%M:%S',
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%e. %b',
                        week: '%e. %b',
                        month: '%b \'%y',
                        year: '%Y'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Status'
                    },
                    labels: {
                      enabled: false,
                    },
                    gridLineWidth: 0,
                    plotBands: [
                      {
                        color: 'rgba(126,190,50,0.1)',
                        from: 50,
                        to:100,
                        label: {
                          text: 'Bright'
                        }
                      },
                      {
                        color: 'rgba(228,200,46,0.1)',
                        from: 20,
                        to: 50,
                        label: {
                          text: 'Dim'
                        }
                      },
                      {
                        color: 'rgba(238,84,45,0.1)',
                        from: 0,
                        to: 20,
                        label: {
                          text: 'Dark'
                        }
                      }],
                    min: 0,
                    max: 100
                },
                tooltip: {
                    enabled: false
                },
                series: [/*{
                    name: 'Moisture',
                    data: #{@moisture_points}
                },*/
                {
                    name: 'Sunlight',
                    data: #{@sunlight_points}
                }]
            });
        }
        if ($('#chart2').length) {
            var chart2;
            chart2 = new Highcharts.Chart({
                chart: {
                    renderTo: 'chart2',
                    backgroundColor: '#f5faf0'
                },
                title: {
                    text: 'Moisture Over Time'
                },
                credits: {
                    enabled: false
                },
                colors: ['#4aa2bb', '#d3b600', '#7ebe32'],
                plotOptions: {
                  line: {
                    marker: {
                     enabled: false
                    }
                  }
                },
                xAxis: {
                    type: 'datetime',
                    ordinal: false,
                    dateTimeLabelFormats: {
                        second: '%H:%M:%S',
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%e. %b',
                        week: '%e. %b',
                        month: '%b \'%y',
                        year: '%Y'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Status'
                    },
                    labels: {
                      enabled: false,
                    },
                    gridLineWidth: 0,
                    plotBands: [
                      {
                        color: 'rgba(126,190,50,0.1)',
                        from: 55,
                        to:90,
                        label: {
                          text: 'Good'
                        }
                      },
                      {
                        color: 'rgba(228,200,46,0.1)',
                        from: 30,
                        to: 55,
                        label: {
                          text: 'Fair'
                        }
                      },
                      {
                        color: 'rgba(238,84,45,0.1)',
                        from: 0,
                        to: 30,
                        label: {
                          text: 'Dry'
                        }
                      },
                      {
                        color: 'rgba(238,84,45,0.1)',
                        from: 90,
                        to: 100,
                        label: {
                          text: 'Overwatered'
                        }
                      }],
                    min: 0,
                    max: 100
                },
                tooltip: {
                    enabled: false
                },
                series: [
                {
                    name: 'Moisture',
                    data: #{@moisture_points}
                }]
            });
        }

    });
  span
  .ui-grid-b
    .ui-block-a.plant-info-block.time
      i.icon-time.icon
      p
        | #{time_ago_in_words(@plant.updated_at)} ago
    .ui-block-b.plant-info-block.moisture
      i.icon-tint.icon
      p = @plant.health.capitalize
    .ui-block-c.plant-info-block.light
      i.icon-lightbulb.icon
      p = @plant.sunlight_status
  #chart style="height: 300px; width: 100%; margin: 0 auto;"
  #chart2 style="height: 300px; width: 100%; margin: 0 auto;"
- else
  ul data-role="listview" data-inset="true"
    li
      |  Nothing's been logged yet!